<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ayfp.anyuanwisdom">
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".view.home.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.home.HomeActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".view.personal.MineActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".view.contacts.ContactsActivity"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".view.live.LiveActivity"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".view.notice.NoticeListActivity"
                  android:theme="@style/AppTheme"/>
    </application>
</manifest>
